{
  "extends": [
    "airbnb",
    "plugin:meteor/recommended"
  ],

  "plugins": [
    "meteor"
  ],

  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },

  "rules": {
    "import/no-unresolved": [2, { "ignore": ["^meteor/", "^/"] }],
    "import/no-extraneous-dependencies": 0, // Disabled because of meteor/... imports
    "import/extensions": 0, // Disabled because of meteor/... imports
    "import/no-absolute-path": 0,
    "no-underscore-dangle": [2, { "allow": ["_id", "_ensureIndex"] }]
  }
}
