{
  "extends": "airbnb",

  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },

  "rules": {
    "import/no-unresolved": [2, { ignore: ['^meteor/', '^/'] }],
    "import/no-extraneous-dependencies": 0, // Disabled because of meteor/... imports
    "no-underscore-dangle": [2, { allow: ['_id', '_ensureIndex'] }]
  }
}
