{
  "extends": [
    "airbnb",
    "plugin:meteor/recommended"
  ],

  "plugins": [
    "meteor"
  ],

  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },

  "rules": {
    "import/extensions": 0, // Disabled because of meteor/... imports
    "import/no-absolute-path": 0,
    "import/no-extraneous-dependencies": 0, // Disabled because of meteor/... imports
    "import/no-unresolved": [2, { "ignore": ["^meteor/", "^/"] }],
    "no-underscore-dangle": [2, { "allow": ["_id"] }],
    "object-shorthand": [2, "always", { "avoidQuotes": false }], // Improve DX for meteor methods and `this` keyword
  }
}
